<header class="banner">
  <div class="banner-inner">
    <a href="<%= lp %>/" class="brand">
      <span class="cube"></span>
      CUE
    </a>
    <div class="banner-right">
      <a href="<%= locals.langSwitchUrl %>" class="banner-btn lang-btn"><%= t('lang_switch') %></a>
      <a href="<%= lp %>/staff" class="banner-btn staff-nav"><%= t('header_staff') %></a>
      <% if (locals.user) { %>
        <div class="banner-user">
          <% if (locals.user.avatar) { %>
            <img class="banner-avatar" src="<%= locals.user.avatar %>" alt="">
          <% } %>
          <span><%= locals.user.globalName || locals.user.username %></span>
        </div>
        <% if (locals.isAdmin || locals.isStaffAccess) { %>
          <a href="<%= lp %>/admin" class="banner-btn admin"><%= t('header_control') %></a>
        <% } %>
        <a href="<%= lp %>/auth/logout" class="banner-btn"><%= t('header_logout') %></a>
      <% } else { %>
        <a href="<%= lp %>/auth/discord" class="banner-login"><%= t('header_login') %></a>
      <% } %>
    </div>
  </div>
</header>
